body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

h1{
    color: #f75d5d;
}

h2{
    color: #f75d5d;
    margin-bottom: 10px;
    margin-top: 25px;
}
ul{
    margin-top: 0px;
}

.desc{
    font-size: 14px;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.period{
    font-style: italic;
}
.business, .school {
    font-weight: bold;
}